<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Bootsrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/adminStyle.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>

    <header>
        <div class="fixed-top">
            <div class="rectangulo"></div>
            <div class="rectangulo1"></div>
            <div class="rectangulo2"></div>
        </div>
        <nav class="navbar navbar-expand-lg bg-custom navbar-light fixed-top">
            <div class="container-fluid ms-5">
                <a class="navbar-brand ms-3" href="./index.html">ONYX</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-2">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Workouts
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="./html/ejercicios.html">Catalogo de ejercicios</a>
                                </li>
                                <li><a class="dropdown-item" href="./html/entrenamientos.html">Catalogo de
                                        entrenamientos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Alimentación
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="./html/dietasparati.html">Dietas para ti</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./html/dietas.html">Dietas</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./html/bitacora.html">Bitácora</a>
                        </li>
                        <form class="d-flex justify-self-center ms-5" role="search">
                            <input class="me-2 rounded-pill search-bar text-white text-center ms-5" type="search"
                                placeholder="Search for anything" aria-label="Search">
                        </form>
                    </ul>
                    <a class="nav-link active text-dark" aria-current="page" href="./html/login.html"><strong>Log
                            in</strong></a>
                    <a aria-current="page" href="./html/register.html"><button type="button"
                            class="btn btn-light rounded-pill">Sign up</button></a>
                </div>
            </div>
        </nav>
    </header>
