<aside>
    <div class="d-flex flex-column flex-shrink-0 p-3 sidebar">
        <ul class="nav nav-pills flex-column mb-auto mt-5 text-center">
            <li class="nav-item mt-2">
                <h4 class="text-center">Admin Dashboard</h4>
            </li>
            <li class="d-flex justify-content-center">
                <img src="/assets/admin.png" alt="" class="rounded-circle mb-4 mt-5">
            </li>
            <li>
                <h5><%=user%></h5>
            </li>
            <li>
                <p class="admin-rol">Admin</p>
            </li>
            <li class="mt-5">
                <a href="/admin/adminDashboard" class="nav-link text-white">
                    <img src="/assets/home-lg-alt 1.png" alt="" class="mx-2"> Home
                </a>
            </li>
            <li class="">
                <a href="/admin/admindashboard/diets" class="nav-link text-white">
                    <img src="/assets/Vector.png" alt="" class="mx-2" style="width: 25px; height: 28px;"> Dietas
                </a>
            </li>
            <li>
                <a href="/admin/admindashboard/workouts" class="nav-link text-white">
                    <img src="/assets/iconoir_gym.png" alt="" class="mx-2" style="width: 32px;"> Workouts
                </a>
            </li>
            <li>
                <a href="/admin/adminDashboard/userprivileges" class="nav-link text-white">
                    <img src="/assets/Vector (1).png" alt="" class="mx-2" style="width: 20px;"> Users
                </a>
            </li>
        </ul>
        <hr>
        <ul class="d-flex justify-content-center">
            <li class="nav-item">
                <a href="/users/logout" class="nav-link text-white">
                    Log Out <img src="/assets/sign-out-alt 1.png" alt="" class="mx-2">
                </a>
            </li>
        </ul>
    </div>
</aside>