<script
    src="https://kit.fontawesome.com/77587b01e9.js"
    crossorigin="anonymous"
></script>
<aside>
    <div class="d-flex flex-column flex-shrink-0 p-3 sidebar">
        <ul class="nav nav-pills flex-column mb-auto mt-5 text-center">
            <li class="nav-item mt-2">
                <h4 class="text-center">Admin Dashboard</h4>
            </li>
            <li class="d-flex justify-content-center">
                <img
                    src="/assets/admin.png"
                    alt=""
                    class="rounded-circle mb-4 mt-5"
                />
            </li>
            <li>
                <h5><%=user%></h5>
            </li>
            <li>
                <p class="admin-rol">Admin</p>
            </li>
            <li>
                <a href="/admin/admindashboard" class="nav-link2 text-white">
                    <i class="fa-solid fa-house"></i>
                    <span class="nav-link-text">Home</span>
                </a>
            </li>
            <li>
                <a href="/admin/admindashboard/diets" class="nav-link2 text-white">
                    <i class="fa-solid fa-utensils fa-lg"></i>
                    <span class="nav-link-text">Dietas</span>
                </a>
            </li>
            <li>
                <a href="/admin/admindashboard/ejercicios" class="nav-link2 text-white">
                    <i class="fa-solid fa-dumbbell fa-lg"></i>
                    <span class="nav-link-text">Ejercicios</span>
                </a>
            </li>
            <li>
                <a href="/admin/admindashboard/programas" class="nav-link2 text-white">
                    <i class="fa-solid fa-person-running fa-lg"></i>
                    <span class="nav-link-text">Programas</span>
                </a>
            </li>
            <li>
                <a href="/admin/adminDashboard/userprivileges" class="nav-link2 text-white">
                    <i class="fa-solid fa-users fa-lg"></i>
                    <span class="nav-link-text">Usuarios</span>
                </a>
            </li>
        </ul>
        <hr />
        <ul class="d-flex justify-content-center">
            <li class="nav-item">
                <a href="/admin/admindashboard" class="nav-link text-white">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="nav-link-text">Log Out</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
