.bg-footer {
    background-color: #151515;
    z-index: 2;
}

footer-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

li {
    list-style-type: none;
    color : #d2ca03;
}


a {
    color: #d2ca03;
    text-decoration: none;
}

a:hover {
    color: #d2ca03;
}

h5 {
    color: #ffffff;
    font-weight: 700;
}