<%- include('includes/head.ejs') %>

<div class="spacer"></div>

<div class="container my-auto" style="height: 57%;">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1>Error 404</h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
            <h3>La pagina que intentas acceder no existe o cambio de ruta</h3>
        </div>
    </div>
</div>

<%- include('includes/foot.ejs') %>