<%- include('includes/head.ejs') %>
<%- include('includes/sidebar.ejs') %>


<link rel="stylesheet" href="/css/adminStyle.css">


<div class="spacer"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <a href="/onyx/admindashboard/userprivileges">
                        <div class="card">
                            <div class="card-body text-dark bg-users">
                                <img src="../assets/Vector (1).png" alt="">
                                <h5 class="card-title">Users</h5>
                                <p class="number card-text text-end">243</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="/onyx/admindashboard/diets">
                        <div class="card">
                            <div class="card-body text-dark bg-dietas">
                                <img src="../assets/Vector.png" alt="">
                                <h5 class="card-title">Dietas</h5>
                                <p class="number card-text text-end">13</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="/onyx/admindashboard/workouts">
                        <div class="card">
                            <div class="card-body text-dark bg-workouts">
                                <img src="../assets/iconoir_gym (1).png" alt="">
                                <h5 class="card-title">Workouts</h5>
                                <p class="number card-text text-end">10</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
