<link rel="stylesheet" href="/css/adminStyle.css">
<%- include('includes/head.ejs') %>
<%- include('includes/sidebar.ejs') %> 


<!-- make new programa page -->
<div class="container" id="nuevo-programa">
    <div class="row">
        <div class="col-12" id="programa">
            <h1 class="text-center">Nuevo Programa</h1>
        </div>
    </div>

    <!-- form for new programa -->
    <div class="container" id="form-nuevo-programa">
        <form action="/admin/admindashboard/workouts/nuevoprograma" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <div class="mb-3">
                <label for="categoria" class="form-label">Categoria</label>
                <input
                    type="text"
                    class="form-control"
                    id="categoria"
                    name="categoria"
                    required/>
            </div>
            <div class="mb-3">
                <label for="nivel_intensidad" class="form-label">Nivel Intensidad</label>
                <input
                    type="text"
                    class="form-control"
                    id="nivel_intensidad"
                    name="nivel_intensidad"
                    required/>
            </div>
            <div class="mb-3">
                <label for="referencia_visual" class="form-label">Referencia Visual</label>
                <input
                    type="text"
                    class="form-control"
                    id="referencia_visual"
                    name="referencia_visual"
                    required/>
            </div>
            <div class="mb-3">
                <label for="descripcion_programa" class="form-label">Descripcion Programa</label>
                <input
                    type="text"
                    class="form-control"
                    id="descripcion_programa"
                    name="descripcion_programa"
                    required/>
            </div>
            <div class="mb-3">
                <label for="nombre_programa" class="form-label">Nombre Programa</label>
                <input
                    type="text"
                    class="form-control"
                    id="nombre_programa"
                    name="nombre_programa"
                    required/>
            </div>
            <div class="mb-3">
                <label for="imagen_programa" class="form-label">Imagen Programa</label>
                <input
                    type="text"
                    class="form-control"
                    id="imagen_programa"
                    name="imagen_programa"
                    required/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>