<%- include('includes/headAdmin.ejs') %>
<%- include('includes/sidebar.ejs') %> 
<link rel="stylesheet" href="/css/adminStyle.css">
<br>

<h1 style="margin-left:300px ;">Registrar dieta</h1>



<div class="container">
    <div class="spacer"></div>
    <div class="row">
      <div class="col-3">
      </div>
      <div class="col">
        <form action="/admin/admindashboard/diets/add" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
          <label for="no_calorias">No. de Calorias:</label>
          <input type="number" name="no_calorias" required><br><br>
    
          <label for="proteinas">Proteinas:</label>
          <input type="number" name="proteinas" required><br><br>
    
          <label for="grasas">Grasas:</label>
          <input type="number" name="grasas" required><br><br>
    
          <label for="carbohidratos">Carbohidratos:</label>
          <input type="number" name="carbohidratos" required><br><br>
    
          <label for="micronutrientes">Micronutrientes:</label>
          <input type="text" name="micronutrientes" required><br><br>
    
          <label for="macronutrientes">Macronutrientes:</label>
          <input type="text" name="macronutrientes" required><br><br>
    
          <label for="nombre_dieta">Nombre de la Dieta:</label>
          <input type="text" name="nombre_dieta" required><br><br>
    
          <label for="alimento">Alimento:</label>
          <select name="alimento">
            <option value="pollo">Pollo</option>
            <option value="carne">Carne</option>
            <option value="pescado">Pescado</option>
          </select><br><br>
    
          <div id="alimentos"></div>
        
          <input type="submit" value="Crear Dieta">
        </form>
      </div>
      <div class="col">
        <h1>Registrar Alimento</h1>
        <form action="/admin/admindashboard/diets/add" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
          <label for="unidad">Unidad:</label>
          <input type="text" name="unidad" required><br><br>
    
          <label for="cantidad">Cantidad:</label>
          <input type="number" name="cantidad" required><br><br>
    
          <label for="descripcion_alimento">Descripcion del Alimento:</label>
          <input type="text" name="descripcion_alimento" required><br><br>

          <input type="submit" value="Crear Alimento">
        </form>
      </div>
    </div>
  </div>

  