<%- include('includes/head.ejs') %>

    <!-- change user password -->

    <div class="container">
        <div class="container mt-5">
            <br />
            <br />
            <h1 class="fw-bold text-start">Cambiar Contraseña</h1>
            <p class="lead text-start">
                Llena los campos necesarios para cambiar contraseña
            </p>
        </div>

        <!-- form for change password -->
        <div class="container">
            <form method="POST" action="/onyx/cambiarpassword">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" required />
                </div>
                <div class="mb-3">
                    <label for="newPassword" class="form-label">Nueva Contraseña</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" required />
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required />
                </div>
                <div id="passwordMessage"></div>
                <button type="submit" class="btn btn-primary text-dark" id="changePassword">Guardar</button>
                <!-- cancelar -->
                <a href="/onyx/bitacora" class="btn btn-danger" id="cancelar">Cancelar</a>
            </form>
        </div>

    </div>
<script src="/js/signUpC.js"></script>

    <%- include('includes/foot.ejs') %>