<%- include('includes/head.ejs') %>


<div class="container">
<div class="spacer"></div>


        <div class="container">
            <h2 id="titulopagina">PROGRAMAS PARA TI</h2>

            <div id="orderby">
                <li id="OrderBy" class="nav-item dropdown">
                    <a id="orderbybtn" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Ordenar por
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./ejercicios.html">Fecha de Carga</a>
                        </li>
                        <li><a class="dropdown-item" href="./entrenamientos.html">Nombre</a></li>
                    </ul>
                </li>
            </div>
        </div>

        <div class="container text-center">
            <div class="row align-items-start">
                <div class="col">
                    <div class="cards" style="width: 18rem;">
                        <img src="https://media.istockphoto.com/id/542197916/photo/running-on-treadmill.jpg?s=612x612&w=0&k=20&c=CYywmb71uOepSHWa534hG9230AzawSa4i3sA89o4qCQ="
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" id="btnstart" class="btn btn-primary">START</a>
                            <br>
                            <a href="#" class="masinfo">MAS INFORMACIÓN</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="cards" style="width: 18rem;">
                        <img src="https://media.istockphoto.com/id/542197916/photo/running-on-treadmill.jpg?s=612x612&w=0&k=20&c=CYywmb71uOepSHWa534hG9230AzawSa4i3sA89o4qCQ="
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" id="btnstart" class="btn btn-primary">START</a>
                            <br>
                            <a href="#" class="masinfo">MAS INFORMACIÓN</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="cards" style="width: 18rem;">
                        <img src="https://media.istockphoto.com/id/542197916/photo/running-on-treadmill.jpg?s=612x612&w=0&k=20&c=CYywmb71uOepSHWa534hG9230AzawSa4i3sA89o4qCQ="
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" id="btnstart" class="btn btn-primary">START</a>
                            <br>
                            <a href="#" class="masinfo">MAS INFORMACIÓN</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <div class="cards" style="width: 18rem;">
                        <img src="https://media.istockphoto.com/id/542197916/photo/running-on-treadmill.jpg?s=612x612&w=0&k=20&c=CYywmb71uOepSHWa534hG9230AzawSa4i3sA89o4qCQ="
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" id="btnstart" class="btn btn-primary">START</a>
                            <br>
                            <a href="#" class="masinfo">MAS INFORMACIÓN</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="cards" style="width: 18rem;">
                        <img src="https://media.istockphoto.com/id/542197916/photo/running-on-treadmill.jpg?s=612x612&w=0&k=20&c=CYywmb71uOepSHWa534hG9230AzawSa4i3sA89o4qCQ="
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" id="btnstart" class="btn btn-primary">START</a>
                            <br>
                            <a href="#" class="masinfo">MAS INFORMACIÓN</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="cards" style="width: 18rem;">
                        <img src="https://media.istockphoto.com/id/542197916/photo/running-on-treadmill.jpg?s=612x612&w=0&k=20&c=CYywmb71uOepSHWa534hG9230AzawSa4i3sA89o4qCQ="
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" id="btnstart" class="btn btn-primary">START</a>
                            <br>
                            <a href="#" class="masinfo">MAS INFORMACIÓN</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col">
                    <div class="cards" style="width: 18rem;">
                        <img src="https://media.istockphoto.com/id/542197916/photo/running-on-treadmill.jpg?s=612x612&w=0&k=20&c=CYywmb71uOepSHWa534hG9230AzawSa4i3sA89o4qCQ="
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" id="btnstart" class="btn btn-primary">START</a>
                            <br>
                            <a href="#" class="masinfo">MAS INFORMACIÓN</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="cards" style="width: 18rem;">
                        <img src="https://media.istockphoto.com/id/542197916/photo/running-on-treadmill.jpg?s=612x612&w=0&k=20&c=CYywmb71uOepSHWa534hG9230AzawSa4i3sA89o4qCQ="
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" id="btnstart" class="btn btn-primary">START</a>
                            <br>
                            <a href="#" class="masinfo">MAS INFORMACIÓN</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="cards" style="width: 18rem;">
                        <img src="https://media.istockphoto.com/id/542197916/photo/running-on-treadmill.jpg?s=612x612&w=0&k=20&c=CYywmb71uOepSHWa534hG9230AzawSa4i3sA89o4qCQ="
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" id="btnstart" class="btn btn-primary">START</a>
                            <br>
                            <a href="#" class="masinfo">MAS INFORMACIÓN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('includes/foot.ejs') %>
