<%- include('includes/head.ejs') %>

<div class="container mt-5">
    <br>
    <br>
    <h1 class="fw-bold text-start">WorkOut</h1>
    <p class="lead text-start">Aquí encontrarás todos los ejercicios que tenemos para ti</p>
</div>

<div class="container-fluid bg-custom mt-4 mb-4"></div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-3">
            <img src="https://i.pinimg.com/originals/a6/4d/df/a64ddf7b1d4775a7ca05302c0c31c881.gif"
                class="rounded-circle" alt="Bench Press con barra" class="img-fluid img-thumbnail">
        </div>
        <div class="col-md-6">
            <h2 class="text-start">Bench Press con barra</h2>
            <p class="text-start" style="margin-bottom: 10px;">El ejercicio consiste en tomar una barra con ambas
                manos y bajarla lentamente hacia el pecho, manteniendo los codos doblaods y cerca del cuerpo. Luego
                se empuja la barra hacia arriba de nuevo hasta la posicion inicial, estirando los brazos
                completamente.</p>

        </div>

    </div>

    <div class="row mt-5">
        <div class="col-md-3">
            <img src="https://doriangym.es/wp-content/uploads/2021/11/ejercicio-press-militar.gif"
                class="rounded-circle" alt="Press Militar" class="img-fluid img-thumbnail">
        </div>
        <div class="col-md-6">
            <h2 class="text-start">Press Militar</h2>
            <p class="text-start" style="margin-bottom: 10px;">El ejercicio comienza con el levantamiento de la
                barra hasta la posicion sobre la cabeza estirando completamente los brazos y manteniendo la espalda
                recta. Luego se baja lentamente la barra hasta la posicion inicial en el pecho..</p>


        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3">
            <img src="https://images.squarespace-cdn.com/content/v1/6353f4f464317c577068d4f5/06da8005-c24c-4ebb-8166-34229b8111c7/Barbell-Reverse-Grip-Skullcrusher-1.gif"
                class="rounded-circle" alt="Skull Crusher" class="img-fluid img-thumbnail">
        </div>
        <div class="col-md-6">
            <h2 class="text-start">Skull Crusher</h2>
            <p class="text-start" style="margin-bottom: 10px;">El ejercicio se realiza acostado en un banco con una
                barra cargada, sosteniendola con los brazos extendidos hacai el techo, luego, se baja la barra
                lentamente hacia la frente.</p>


        </div>

    </div>
</div>

<%- include('includes/foot.ejs') %>