<%- include('includes/head.ejs') %>

    <script src="https://cdn.plot.ly/plotly-2.18.2.min.js"></script>

    <div class="spacer"></div>
    <div class="container">
        <div class="row mb-5">
            <h2 class="text-center">
                <span style="color: #D2CA03;">
                </span>
            </h2>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center" id="graph">

            </div>
        </div>
    </div>
    <title>Consulta de tallas</title>
    <style>
        .chart-container {
            position: relative;
            margin: 0 auto;
            width: 50%;
            height: 0;
            padding-bottom: 50%;
        }

        .chart {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .chart canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .chart text {
            dominant-baseline: central;
            text-anchor: middle;
            fill: #fff;
            font-size: 14px;
            font-weight: bold;
        }
    </style>

<h1 style="text-align:center;">Consulta de tallas</h1>

<div class="chart-container">
    <div class="chart">
        <canvas id="myChart"></canvas>
        <div id="chart-data" style="display:none;">
            {
                "labels": ["Pecho", "Brazo Izquierdo", "Brazo Derecho", "Cintura", "Peso", "Cadera", "Pierna Izquierda", "Pierna Derecha", "Pantorrilla Izquierda", "Pantorrilla Derecha", "Cuello"],
                "colors": ["#CC6666", "#66CCCC", "#FFCC66", "#9999CC", "#66CC66", "#FF9999", "#FF99CC", "#CCCC99", "#FFCC99", "#99CCFF", "#CC99FF"],
                "desired": [38, 30, 30, 80, 70, 100, 50, 50, 40, 40, 40],
                "current": [32, 27, 28, 76, 72, 97, 47, 48, 36, 37, 38]
            }
            
        </div>
    </div>
    
</div>




<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    
    document.addEventListener("DOMContentLoaded", function() {
        var data = JSON.parse(document.getElementById('chart-data').innerHTML);

        var backgroundColors = [];
        var hoverBackgroundColors = [];

        for (var i = 0; i < data.labels.length; i++) {
            backgroundColors.push(data.colors[i]);
            hoverBackgroundColors.push(data.colors[i] + '33'); // Add some opacity for the hover effect
        }

        var chart = new Chart(document.getElementById('myChart'), {
            type: 'pie',
            data: {
                labels: data.labels,
                datasets: [{
                    backgroundColor: backgroundColors,
                    hoverBackgroundColor: hoverBackgroundColors,
                    data: data.current
                }, {
                    backgroundColor: backgroundColors.map(function(color) { return color + '99'; }), // Desired color is a lighter version of the actual color
                    hoverBackgroundColor: backgroundColors.map(function(color) { return color + 'CC'; }), // Add some opacity for the hover effect
                    data: data.desired
                }]
            },
            options: {
                legend: {
                    display: false
                }
            }
        });
    });
</script>


    

    

    <%- include('includes/foot.ejs') %>