<%- include('includes/head.ejs') %>

<div class="spacer"></div>

<div class="container my-auto" style="height: 57%;">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1>Error 500</h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
            <h3>Internal Server Error</h3>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
            <h5>Estamos experimentando problemas con el servidor</h5>
        </div>
    </div>
</div>

<%- include('includes/foot.ejs') %>