<%- include('includes/head.ejs') %>


<div class="container">
    <div class="spacer">
    </div>

    <div class="container">
        <h2 id="titulopagina">Detalles de Dieta</h2>

    </div>

        <div class="container text-center">
            <div class="row align-items-start">
                <div class="col">
                    <div class="cards" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Nombre: <% detalles.macronutrientes%></h5>
                            <p class="card-text">Descripcion: <%= detalles.micronutrientes%></p>
                            <p class="card-text">Número de Calorías: <%= detalles.no_calorias%></p>
                            <br>
                            <!--quitar el más info, no? -->
                            <a href="/onyx/bitacora" class="btn btn-warning">Registrar en Bitácora</a>
                            <br>
                            <a href="/onyx/dietas" class="btn btn-warning">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <br>


</div>
<%- include('includes/foot.ejs') %>