<%- include('includes/head.ejs') %>

    <div class="spacer"></div>
    <div class="container">
        <h1 class="fw-bold text-start">Dietas</h1>
        <p class="lead text-start">Aquí encontrarás todas las dietas que tenemos para ti</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="https://www.justspices.es/media/recipe/resized/510x510/recipe/food_Sazonador_pollo_al_curry_Reisbowl_mit_Haehnchen_1-2.jpg"
                    alt="Pollo a la plancha" class="img-fluid img-thumbnail">
            </div>
            <div class="col-md-6">
                <h2 class="text-start">Pollo a la plancha</h2>
                <p class="text-start" style="margin-bottom: 10px;">Pollo a la plancha con especias y acompañado de arroz
                    integral y ensalada mixta.</p>
                <h5 class="text-start">Macronutrientes:</h5>
                <ul>
                    <li>Carbohidratos: 30 gramos</li>
                    <li>Proteína: 40 gramos</li>
                    <li>Grasas: 10 gramos</li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="text-end fw-bold fs-5">Calorías: 380</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-3">
                <img src="https://unareceta.com/wp-content/uploads/2017/02/salmon-al-horno-con-limon.jpg"
                    alt="Salmón al horno" class="img-fluid img-thumbnail">
            </div>
            <div class="col-md-6">
                <h2 class="text-start">Salmón al horno</h2>
                <p class="text-start" style="margin-bottom: 10px;">Salmón al horno con limón y hierbas acompañado de
                    puré de papas y vegetales al vapor.</p>
                <h5 class="text-start">Macronutrientes:</h5>
                <ul>
                    <li>Carbohidratos: 20 gramos</li>
                    <li>Proteína: 50 gramos</li>
                    <li>Grasas: 15 gramos</li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="text-end fw-bold fs-5">Calorías: 475</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-3">
                <img src="https://mylatinatable.com/wp-content/uploads/2016/03/foto-3-cortada-1024x617.jpg"
                    alt="Tacos de pescado" class="img-fluid img-thumbnail">
            </div>
            <div class="col-md-6">
                <h2 class="text-start">Tacos de pescado</h2>
                <p class="text-start" style="margin-bottom: 10px;">Tacos de pescado con salsa de aguacate y cilantro,
                    acompañados de frijoles refritos y ensalada de col.</p>
                <h5 class="text-start">Macronutrientes:</h5>
                <ul>
                    <li>Carbohidratos: 40 gramos</li>
                    <li>Proteina: 20 gramos</li>
                    <li>Grasas: 15 gramos</li>
                </ul>
            </div>

            <div class="col-md-3">
                <p class="text-end fw-bold fs-5"> Calorias: 385</p>


            </div>
        </div>
    </div>

    <%- include('includes/foot.ejs') %>