<%- include('includes/head.ejs') %>

    <div class="spacer"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 id="titulopagina">Favoritos</h1>
            </div>
        </div>
        <div class="row mt-5">
            <h3>Dietas</h3>
        </div>
        <div class="row text-center">
            <div class="col">
                <div class="cards" style="width: 18rem;">
                    <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/health/wp-content/uploads/2022/01/foods_to_eat_to_lose_weight.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's
                            content.</p>
                        <a href="#" id="btnstart" class="btn btn-primary">START</a>
                        <br>
                        <a href="#" class="masinfo">ELIMINAR DE FAVORITOS</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="cards" style="width: 18rem;">
                    <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/health/wp-content/uploads/2022/01/foods_to_eat_to_lose_weight.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's
                            content.</p>
                        <a href="#" id="btnstart" class="btn btn-primary">START</a>
                        <br>
                        <a href="#" class="masinfo">ELIMINAR DE FAVORITOS</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="cards" style="width: 18rem;">
                    <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/health/wp-content/uploads/2022/01/foods_to_eat_to_lose_weight.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's
                            content.</p>
                        <a href="#" id="btnstart" class="btn btn-primary">START</a>
                        <br>
                        <a href="#" class="masinfo">ELIMINAR DE FAVORITOS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-end">
            <div class="col-2 position-absolute">
                <a href="#" class="btn btn-custom">Ver más</a>
            </div>
        </div>

        <div class="row mt-5">
            <h3>Entrenamientos</h3>
        </div>
        <div class="row text-center">
            <div class="col">
                <div class="cards" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/id/542197916/photo/running-on-treadmill.jpg?s=612x612&w=0&k=20&c=CYywmb71uOepSHWa534hG9230AzawSa4i3sA89o4qCQ="
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <a href="#" id="btnstart" class="btn btn-primary">START</a>
                        <br>
                        <a href="#" class="masinfo">ELIMINAR DE FAVORITOS</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="cards" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/id/542197916/photo/running-on-treadmill.jpg?s=612x612&w=0&k=20&c=CYywmb71uOepSHWa534hG9230AzawSa4i3sA89o4qCQ="
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <a href="#" id="btnstart" class="btn btn-primary">START</a>
                        <br>
                        <a href="#" class="masinfo">ELIMINAR DE FAVORITOS</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="cards" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/id/542197916/photo/running-on-treadmill.jpg?s=612x612&w=0&k=20&c=CYywmb71uOepSHWa534hG9230AzawSa4i3sA89o4qCQ="
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <a href="#" id="btnstart" class="btn btn-primary">START</a>
                        <br>
                        <a href="#" class="masinfo">ELIMINAR DE FAVORITOS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-end">
            <div class="col-2 position-absolute">
                <a href="#" class="btn btn-custom">Ver más</a>
            </div>
        </div>
    </div>

    <%- include('includes/foot.ejs') %>