<%- include('includes/head.ejs') %>

    <div class="container">
        <div class="container mt-5">
            <br />
            <br />
            <h1 class="fw-bold text-start">Subir foto</h1>
            <p class="lead text-start">
                Selecciona una foto de perfil
            </p>
        </div>

        <!-- form for upload photo -->
        <div class="container">
            <form method="POST" action="/onyx/fotoperfil" enctype="multipart/form-data">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="mb-3"> 
                    <div class="mb-3">
                        <label for="photo" class="form-label">Foto</label>
                        <input type="file" class="form-control" id="user_pic" name="image" value="registrar" accept=".jpg, .jpeg, .png, .gif" required>
                    </div>
                    <button type="submit" class="btn btn-primary text-dark" id="changePassword">Guardar</button>
                    <!-- cancelar -->
                </div>
            </form>
        </div>

    </div>

    <%- include('includes/foot.ejs') %>