<%- include('includes/head.ejs') %>

    <div class="container-fluid bg-image"></div>
    <div class="container banner-text">
        <div class="row">
            <div class="col">
                <h1 class="header">Sigue tus <br> entrenamientos <br> y dietas en un <br> solo lugar </h1>
                <h2 class="subHeader">Lo que es medible es <br> perfeccionable </h2>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row mb-3">
            <div class="col">
                <h2 id="faq" class="text-center">Sobre Nostros</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">Onyx es una plataforma que te permite llevar un control de tus entrenamientos
                    y
                    dietas, así como llevar un registro de tu progreso.</p>
            </div>
        </div>
        <div class="row">

        </div>
    </div>

    <div class="container mt-5">
        <div class="row mb-3">
            <div class="col">
                <h2 id="faq" class="text-center">Preguntas Frecuentes</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button rounded-pill" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                ¿Qué es Onyx?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Onyx es una plataforma que te permite llevar un control de tus entrenamientos y
                                dietas, así
                                como
                                llevar un registro de tu progreso.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed rounded-pill" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                ¿Cómo funciona?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Para comenzar a utilizar Onyx, debes registrarte en la plataforma, una vez hecho
                                esto, podrás
                                comenzar a crear tus propios entrenamientos y dietas, así como llevar un registro de
                                tu
                                progreso.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed rounded-pill" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                ¿Qué puedo hacer en Onyx?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                En Onyx podrás crear tus propios entrenamientos y dietas, así como llevar un
                                registro de tu
                                progreso.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('includes/foot.ejs') %>