<%- include('includes/head.ejs') %>
    <!-- make new bitacora page -->

    <div class="container">
        <div class="container mt-5">
            <br />
            <br />
            <h1 class="fw-bold text-start">Bit치cora</h1>
            <p class="lead text-start">
                Llena los campos necesarios para a침adir una nueva bit치cora
            </p>
        </div>

        <!-- form for new bitacora -->
        <div class="container">
            <form action="/onyx/nuevabitacora" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="mb-3">
                    <label id="labelBitacora" for="fecha" class="form-label">Fecha</label>
                    <input type="date" class="form-control" id="fecha" name="fecha"
                        value="<%= new Date().toISOString().slice(0, 10) %>" />
                </div>

                <label id="labelBitacora" for="contenido" class="form-label">Contenido</label>
                <p id="detailstext">describe c칩mo te sentiste o algun comentario sobre algo que sientas que sea importante</p>
                <div class="input-group">
                    <textarea class="form-control" aria-label="Contenido" id="contenido" name="contenido"></textarea>
                </div>
                <br>

                <div class="mb-3">
                    <label id="labelBitacora" for="entreno" class="form-label">Entreno</label>
                    <input type="text" class="form-control" id="entreno" name="entreno" required />
                </div>
                <button type="submit" class="btn btn-primary text-dark" id="nuevabitacora">Agregar</button>
                <!-- cancelar -->
                <a href="/onyx/bitacora" class="btn btn-danger" id="cancelar">Cancelar</a>
            </form>

        </div>

    </div>


    <%- include('includes/foot.ejs') %>