<%- include('includes/head.ejs') %>

    <div class="container">
        <div class="container mt-5">
            <br />
            <br />
            <h1 class="fw-bold text-start"><%= pagetitle %></h1>
            <p class="lead text-start">
                Llena los campos necesarios para recuperar contraseña
            </p>
        </div>

        <!-- form for change password -->
        <div class="container">
            <form method="POST" action="/onyx/olvidePassword">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required />
                </div>
                <button type="submit" class="btn btn-primary text-dark" id="changePassword">Enviar correo</button>
                <!-- cancelar -->
                <a href="/onyx/" class="btn btn-danger" id="cancelar">Cancelar</a>
            </form>
        </div>

    </div>

    <%- include('includes/foot.ejs') %>