<!-- vistas/registrar-rol.ejs -->

<%- include('includes/head.ejs') %>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Roles - Onyx</title>
    <style>

        body {
            text-align: center;
        }
        .container {
            display: flex;
            justify-content: center;
        }
        .form-container, .table-container {
            width: 70%;
            padding: 70px;
        }
        .table-container {
            text-align: left;
        }
    </style>
</head>

<body>
  
    <h1>Registro de Roles - Onyx</h1>
    <h2>Privilegios (Casos de Uso)</h2>

    <div class="container">
        <div class="form-container">
            <form action="/onyx/procesar_registro" method="post">
                <label for="id_rol">ID del Rol:</label>
                <input type="number" name="id_rol" id="id_rol" required>
                <br><br>
                <label for="nombre_rol">Nombre del Rol:</label>
                <input type="text" name="nombre_rol" id="nombre_rol" required>
                <br><br>
                <label for="id_cu">Casos de Uso (IDs separados por comas):</label>
                <input type="text" name="id_cu" id="id_cu" required>
                <br><br>
                <input type="submit" value="Registrar Rol">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>"> <br>
            </form>
        </div>
        
        <div class="table-container">
 
            <table border="2" cellspacing="5" cellpadding="7">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Privilegio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Registrar Bitacora</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Registrar Alimento</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Registrar Dieta</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Registrar Entrenamiento</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Registrar Rutina</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Registrar Usuario</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Registrar Rol</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>


<%- include('includes/foot.ejs') %>