<%- include('includes/head.ejs') %>
<div class="spacer"></div>
    <div class="container">
      <h1 class="text-center"><%=pagetitle%></h1>
      <hr>
      <p><strong>1.- Descripción General del Sitio Web</strong></p>
      <p>ONYX es una página web que ofrece servicios de seguimiento del estado físico y nutricional de los clientes. Proporcionamos un registro de medidas de las extremidades del usuario y creamos un ciclo de dietas personalizado para que nuestros clientes puedan llevar un control adecuado de su estado físico y nutricional.</p>
      <p><strong>2.- Datos de la Empresa</strong></p>
      <p>ONYX es una empresa de software, cuyo nombre legal es ONYX. La dirección de la empresa y los datos de contacto seran definidos en el futuro.</p>
      <p><strong>3.- Política de Privacidad</strong></p>
      <p>En ONYX, valoramos la privacidad y protección de los datos personales de nuestros usuarios. Recopilamos los datos de las medidas de las extremidades del usuario, así como el uso de sus datos de información personal, como el nombre, correo, la edad, altura, medidas en ciertas extremidades, etc. Nosotros protegemos nuestros datos en una base de datos que será almacenada en Digital Ocean.</p>
      <p><strong>4.- Registro y Uso de Cuentas</strong></p>
      <p>Para utilizar ONYX, los usuarios deberán crear una cuenta en nuestra plataforma. Los usuarios registran sus datos mediante autenticación CSRF en el código, así como métodos de encriptación hash, y autenticamos a los diferentes tipos de usuario. Las responsabilidades del usuario en la plataforma son el darle un buen uso y manejo a esta.</p>
      <p><strong>5.- Política de Propiedad Intelectual</strong></p>
      <p>ONYX es propietario del código y contenido generado por el sitio web. Los derechos de autor del código están bajo la protección de la licencia tipo MIT. La propiedad intelectual del sitio web es de ONYX completamente y de los desarrolladores, Mike, Ricardo, Erik, Manuel, Dante, Gamaliel, Francisco y Pablo.</p>
      <p><strong>6.- Uso de Contenido Generado por los Usuarios</strong></p>
      <p>Los datos que nosotros utilizamos en nuestra aplicación son medidas básicas de las extremidades del cliente, además de que solo se le otorgará licencia al uso completo del programa como un sistema de suscripciones.</p>
      <p><strong>7.- Limitaciones de Responsabilidad y Garantías</strong></p>
      <p>El sitio web se proporciona "tal cual", sin garantías de ningún tipo, expresas o implícitas. ONYX no garantiza la exactitud, la integridad, la calidad, la oportunidad, la disponibilidad, la idoneidad o la fiabilidad del sitio web para cualquier propósito.</p>
      <p><strong>8.- Política de Enlaces a Terceros</strong></p>
      <p>En esta aplicación solo se podrá acceder a la API de Google para el inicio de sesión.</p>
      <p><strong>9.- Modificación y Terminación de Servicios</strong></p>
      <p>ONYX se reserva el derecho de modificar o cancelar cualquier servicio ofrecido en el sitio web en cualquier momento y sin previo aviso. Al continuar utilizando el sitio web después de cualquier cambio en los términos y condiciones, usted acepta los términos y condiciones modificados.ONYX se reserva el derecho de modificar o cancelar cualquier servicio ofrecido en el sitio web en cualquier momento y sin previo aviso. Al continuar utilizando el sitio web después de cualquier cambio en los términos y condiciones, usted acepta los términos y condiciones modificados.</p>
      <p><strong>10.- Política de Devoluciones y Reembolsos</strong></p>
      <p>Si no está satisfecho con el servicio durante los primeros 8 días de su suscripción, puede solicitar un reembolso. Después de los primeros 8 días, no se otorgarán reembolsos.</p>
      <p><strong>11.- Jurisdicción y Leyes Aplicables</strong></p>
      <p>Cualquier disputa o reclamo relacionado con el uso de nuestro sitio web y servicios de ONYX estará sujeto a las leyes de México y se regirá por ellas. La jurisdicción exclusiva y el lugar para cualquier acción legal o procedimiento relacionado con el sitio web y sus servicios será en los tribunales de la Ciudad de México, renunciando a cualquier otro foro o jurisdicción que pudiera corresponder.</p>
      <p><strong>12.- Resolución de Conflictos</strong></p>
      <p>Para resolver cualquier conflicto entre ONYX y los usuarios, se pueden comunicar a través de nuestro correo de atención al cliente.</p>
      <p><strong>13.- Cambios en los Términos y Condiciones</strong></p>
      <p>Los términos y condiciones pueden cambiar en cualquier momento y sin previo aviso. Es responsabilidad del usuario revisar los términos y condiciones de vez en cuando para estar al tanto de cualquier cambio. Si continúa utilizando el sitio web después de cualquier cambio en los términos y condiciones, acepta los términos y condiciones modificados. ONYX se reserva el derecho de modificar, actualizar o cambiar estos términos y condiciones en cualquier momento sin previo aviso. Cualquier cambio en los términos y condiciones será efectivo inmediatamente después de su publicación en el sitio web.</p>
      <hr>
      <p class="text-center"><small>Última actualización: Abril 2023</small></p>
    </div>
    <%- include('includes/foot.ejs') %>